<p>exam works!</p>
<div class='container'>
    <form (ngSubmit)='Level()'>
        <button type="submit" class="btn-info">LEVEL{{Level_id}}</button> 
    </form>
    <!-- <div *ngIf="dduration" class="badge badge-info float-right">Time: {{ellapsedTime}} /{{duration}}</div> -->
    <div class="table table-sm table-hover">
        <div *ngFor="let dept of  Questions">
            <h1>{{dept.Question_id}}</h1>
            <h1>{{dept.Question1}}</h1>
           
    <form>   
    <div class="radio">
    <label><input type="radio" name="radio" (change)="onSelect(dept,dept.Option_1);"/> {{dept.Option_1}} </label> <br>
    </div>
    <div class="radio">
    <label> <input type="radio" name="radio" (change)="onSelect(dept,dept.Option_2);"/>{{dept.Option_2}}</label> <br>
    </div>
    <div class="radio">
         <label> <input type="radio" name="radio" (change)="onSelect(dept,dept.Option_3);"/>{{dept.Option_3}}</label> <br>
        </div>
        <div class="radio">
            <label> <input type="radio" name="radio" (change)="onSelect(dept,dept.Option_4);"/>{{dept.Option_4}}</label> <br>
        </div>
        </form>   
        </div>
    </div>
    <button class="btn btn-success" (click)="onSubmit();">Submit Quiz</button>
    </div>
    