
<div class='container'>
    <h2 class="text-center"><b>Online Assessment Guidelines</b></h2> <br/>  
       <ul type="circle">
           <li>There will be 3 levels. Level 1 carries one mark for each questions, level 2 carries 1.5marks
              and level 3 carries 2 marks.</li>
          <li> Make sure that your laptop/Desktop is fully charged.</li>
          <li>Avoid wearing headphones/earphones during exam.</li>
          <li>Using mobile phones or any other communication devices is strictly not allowed.</li>
          <li>Make sure you have a good and stable internet connection.</li>
       </ul><br/>
        <h4 class="text-center">All the best!!</h4>
  
        
           
        <!-- <button type="submit" class="btn btn-primary btn-block" [disabled]='userform.invalid'>Submit</button>  -->
        <!-- <a [routerLink]="['/test']" routerLinkActive ="active" >START EXAM</a> -->
  
  </div>
  
  
  